.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(232, 209, 209, 0.286);
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

mat-grid-tile {
    background: lightblue;
}

.login-section {
    position: relative;
    // width: 1440px;
  
    /* Tertiary 900 */
    padding-top: 1.5rem;
  
    background: #090948;
  }

  .login-section::after {
    content: "";
    background: url("/assets/images/trivector.png");
    position: absolute;
    width: 220px;
    height: 395px;
    top: 25%;
    left: 0;
    background-size: contain;
    background-position: center;
    z-index: 0;
}

.login-section > .container {
  position: relative;
  z-index: 1;
}
  
  .app-heading {
    font-family: 'Mulish' !important;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    // line-height: 64px;
  
  
    display: flex;
    align-items: center;
    letter-spacing: -0.4px;
  
    color: #090948;
  }
  
  .account_login {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 64px;
    /* identical to box height, or 213% */
  
    // display: flex;
    align-items: center;
    letter-spacing: -0.4px;
  
    color: #090948;
  }
  ::ng-deep .mat-form-field {
    font-size: 15px; // example
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: 0px !important;
  }
  .mat-form-field-wrapper{
    padding-bottom: 2px !important;
  }


  @media (orientation: portrait) {
    .login-section {
      padding-top: 8em;
    height: 100vh;
    
    }
  }

  // for tablet
  @media (orientation: portrait) and ( height: 800px ) {
    .login-section {
      padding-top: 8em;
    height: 100vh;
    
    }
  }

  // for wearables
  @media (orientation: portrait) and (min-device-height: 480px) {
    .login-section {
      padding-top: 2em !important;
      height: auto !important;
    }
  }