<div class="container">
    <form [formGroup]="loginForm">
        <div class="form-group">
            
            <label for="UserName">User Name</label>
            <input id="UserName" formControlName="username" class="form-control" type="text" placeholder="Enter User Name"  maxlength="100" required autocomplete="off"/>
            
            <label for="Password">Password</label>
            <input formControlName="password" id="Password" class="form-control" type="password" placeholder="Enter Password" required autocomplete="off"/>
            
            <label id="DSNameLabel" for="DeviceID" *ngIf="displayDropDowns">Data Source</label>
            <select id="DSName" class="form-control" *ngIf="displayDropDowns" required>
                <option></option>
            </select>

            <label id="DeviceIDLabel" for="DeviceID" *ngIf="displayDropDowns">Device ID</label>
            <select id="DeviceID" class="form-control" *ngIf="displayDropDowns" required>
                <option></option>
            </select>

        </div>

        <div class="form-group">
            <button id="loginButton" type="button" class="btn btn-primary mb-2">Login</button>
        </div>
    </form>
</div>

<div class="overlay" *ngIf="spinnerService.visibility | async">
    <div class="center">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
</div>