<!-- <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header> -->

<div class="app-header" (toggleSidebarForMe)="sideBarToggler()">
<mat-toolbar>
  
  <button mat-icon-button class="example-icon" aria-label="icon-button with menu icon" (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <span>BulkPro</span>

  <div class="row me-0 ms-auto">
    <ul class="row m-0 align-items-center">
      <li>
        <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
          <mat-icon>account_circle</mat-icon>
          {{username}}
          <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>

</mat-toolbar>

<div class="overlay" *ngIf="spinnerService.visibility | async">
    <div class="center">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
</div>

</div>


<!-- [style.marginTop.px]="mobileQuery.matches ? 56 : 0" -->
<mat-sidenav-container autosize class="main-container">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="dashboard-section">
      <!-- <div class="breadcrumb-menu">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
      </div> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
