<!-- <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header> -->

<div class="app-header" (toggleSidebarForMe)="sideBarToggler()">
<mat-toolbar>
  
  <button mat-icon-button aria-label="icon-button with menu icon" (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  
  <span class="d-flex align-items-center mx-3">
    BulkPro 
    <span class="menu-title-dot"></span> 
    <span class="menu-title-name">{{pageName}}</span>  
  </span>

  <div class="row me-0 ms-auto">
    <ul class="row m-0 align-items-center p-0">
      <li>
        <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center p-0">
          <mat-icon fontIcon="account_circle" style="color: #fff; font-size: 19px; margin-right: 5px;" class="material-symbols-outlined"></mat-icon>
          <span class="loggedin-username">{{username}}</span>
          <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div class="header-profile-menu">
            <button class="header-logout-button"  mat-menu-item (click)="logout()">
              <!-- <mat-icon>exit_to_app</mat-icon> -->
              Logout
            </button>
          </div>
          
        </mat-menu>
      </li>
    </ul>
  </div>

</mat-toolbar>

<div class="overlay" *ngIf="spinnerService.visibility | async">
    <div class="center">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
</div>

</div>


<!-- [style.marginTop.px]="mobileQuery.matches ? 56 : 0" -->
<mat-sidenav-container autosize class="main-container">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="dashboard-section">
      <!-- <div class="breadcrumb-menu">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
      </div> -->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
