<div class="bp-pick-option">
    <div class="container-fluid">
        <div class="row g-4">
            <div class="mt-0 col-12">
                <h2 mat-subheader class="bp-option-heading mt-3 mb-0">
                    <div class="mat-icon-wrap">
                        <span class="material-symbols-outlined mat-icon"> explore </span>
                    </div>
                    <span class="mat-subheader-space">Item location</span>
                </h2>

                <!-- Scan Order/Tote/Batch -->
                <div class="mt-0 bp-inline-step step-scan-order">

                    <div class="row">

                        <div class="col-12">
                            <mat-card class="mat-elevation-z g-card mb-3">
                                <mat-card-content>
                                    <mat-list role="list" class="action-list-wrap zones-list-wrap">
                                        <mat-list-item role="listitem" class="zones-list-item">
                                            <div class="action-list-wrap d-flex align-items-center">
                                                <span class="material-symbols-outlined icon-auto-activity">pin_drop</span>
                                                <span>Location For Item: {{itemNumber}}</span>
                                            </div>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <div class="col-12">
                            <mat-card class="mat-elevation-z g-card mb-3">
                                <mat-card-content>
                                    
                                    <ng-scrollbar style="height: 200px">
                                        <table mat-table [dataSource]="dataSource" matSort
                                        (matSortChange)="announceSortChange($event)"
                                        class="mat-elevation-z bp-inline-table">

                                                <!-- Position Column -->
                                        <ng-container matColumnDef="tote">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by Tote">
                                                Location
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.tote}} </td>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="tr">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by Tr">
                                                Qty
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.tr}} </td>
                                        </ng-container>

                                        <!-- Order Column -->
                                        <ng-container matColumnDef="order">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                sortActionDescription="Sort by order">
                                                Available
                                            </th>
                                            <td mat-cell *matCellDef="let element"> {{element.order}} </td>
                                        </ng-container>



                                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            <!-- ... -->
                                        
                                    </table>
                                        </ng-scrollbar>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        
                    </div>

                </div>

                <div class="action-buttons-wrap">
                    <button mat-flat-button color="primary" (click)="checkNext()">Check another item/location</button>
                    <button mat-stroked-button color="warn" (click)="exit()">Exit</button>
                </div>

            </div>
        </div>
    </div>
</div>