<div class="bp-pick-option">
    <div class="container-fluid">
        <div class="row g-4">
            <div class="mt-0 col-12">
                <h2 mat-subheader class="bp-option-heading mt-3 mb-0">
                    <div class="mat-icon-wrap">
                        <span class="material-symbols-outlined mat-icon"> low_priority </span>
                    </div>
                    <span class="mat-subheader-space">Cycle Count</span>
                </h2>        

                <!-- Scan Order -->
                <div class="mt-0 bp-inline-step step-scan-order">
                    <mat-card class="mat-elevation-z g-card mb-3">
                        <mat-card-content>

                            <div class="d-flex justify-content-between align-items-center">
                                <mat-form-field class="w-100 action-field wrap-p-0" appearance="outline">
                                    <mat-label>Scan Order</mat-label>
                                    <input type="text" placeholder="Scan Order"
                                        aria-label="Scan Order" matInput [(ngModel)]="code">
                                </mat-form-field>
                                <div class="action-des-icon-wrap">
                                    <span class="scan-option-wrap">
                                        <img src="./assets/images/scan-option.svg" width="58" height="32">
                                    </span>
                                </div>

                            </div>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="mat-elevation-z g-card mb-3">
                        <mat-card-content>
                            
                            <ng-scrollbar style="height: 200px">
                                <table class="action-table-info" mat-table [dataSource]="orderList" matSort
                                (matSortChange)="announceSortChange($event)"
                                class="mat-elevation-z bp-inline-table">

                                <!-- Order Column -->
                                <ng-container matColumnDef="OrderNumber">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        sortActionDescription="Sort by OrderNumber">
                                        Order #
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.OrderNumber}} </td>
                                </ng-container>

                                <!-- Tr Column -->
                                <ng-container matColumnDef="NumTrans">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                                        sortActionDescription="Sort by NumTrans">
                                        Tr #
                                    </th>
                                    <td mat-cell *matCellDef="let element"> {{element.NumTrans}} </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    <!-- ... -->
                                
                            </table>
                                </ng-scrollbar>
                        </mat-card-content>
                    </mat-card>

                </div>

                <div class="action-buttons-wrap">                    
                    <button mat-flat-button color="primary" (click)="processCount()">Process Counts</button>                    
                    <button mat-stroked-button color="primary" (click)="deleteLast()">Delete Last</button>
                    <button mat-stroked-button color="warn" (click)="exit()">Exit</button>
                </div>

            </div>
        </div>
    </div>
</div>