<!-- Notification Wrapper -->
<div class="action-notification-wrapper" *ngIf="msgText">    
    <div class="alert alert-{{msgType}} d-flex align-items-center" role="alert">
        <span class="action-alert-icon material-symbols-outlined">{{msgIcon}}</span>
        <span>{{msgText}}</span>
    </div>
</div>

<app-scan-ord-bat-tot *ngIf="step1"
    (msg)="showMsg($event)"
    (next)="changeStep(2)">
</app-scan-ord-bat-tot>

<app-pick-scan-item-loc *ngIf="step2"
    (msg)="showMsg($event)"
    (next)="changeStep(3);">
</app-pick-scan-item-loc>

<app-pick-cus-win *ngIf="dataCusWin.visible"
    [icon]="dataCusWin.icon"
    [text]="dataCusWin.text"
    [cancelBtnText]="dataCusWin.cancelBtnText"
    [okBtnText]="dataCusWin.okBtnText"
    [actionBtnText]="dataCusWin.actionBtnText ? dataCusWin.actionBtnText : ''"
    [list]="dataCusWin.list"
    [type]="dataCusWin.type"
    (action)="actionClicked($event)"
    (cancel)="cancelClicked($event)"
    (ok)="okClicked($event)">
</app-pick-cus-win>