
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bulk-pro-primary: mat.define-palette(mat.$indigo-palette);
$bulk-pro-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bulk-pro-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bulk-pro-theme: mat.define-light-theme((
  color: (
    primary: $bulk-pro-primary,
    accent: $bulk-pro-accent,
    warn: $bulk-pro-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bulk-pro-theme);

/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* DESIGN SYSTEM */
@import './assets/design-system/d-main.scss';
body, html,
.mat-badge-content, .mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab, .mat-button-toggle,
.mat-card,
.mat-checkbox,
.mat-table,
.mat-calendar,
.mat-expansion-panel-header,
.mat-form-field,
.mat-menu-item,
.mat-paginator,
.mat-paginator-page-size .mat-select-trigger,
.mat-select,
.mat-slide-toggle-content,
.mat-slider-thumb-label-text,
.mat-stepper-vertical,
.mat-stepper-horizontal,
.mat-tab-group,
.mat-tab-label,
.mat-tab-link,
.mat-toolbar,
.mat-radio-button,
.mat-tooltip,
.mat-list-item,
.mat-list-option,
.mat-list-base .mat-subheader,
.mat-list-base[dense] .mat-subheader,
.mat-option,
.mat-simple-snackbar,
.mat-simple-snackbar-action,
.mat-tree,
h1, h2, h3, h4, h5, h6, p, strong, span, b, u, a, div

   {
  font-family: 'Mulish', sans-serif;
}

.body-box{
  background-color: #F3F4F4;
  padding: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.material-symbols-outlined-filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background: #1A1AD3;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #1A1AD3;
  border: 1px solid #1A1AD3;
}

.mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline-thick {
  color: #1A1AD3;
}

.mat-button.mat-warn, .mat-icon-button.mat-warn, .mat-stroked-button.mat-warn {
  color: #de2654;
  border: 1px solid #de2654;
}

.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {

  background: #de2654;
}

.form-control:focus{

  box-shadow: unset;
}

#pickpro {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%; }

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bg-purple{
background-color: #7B42AC;
}

.purple{
  color: #7B42AC;
}


.user .loggedin-username {
  width: auto;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: right;
  line-height: 1;
  position: relative;
  top: -2px;
}

.header-profile-menu {
  width: 205px;
}

.header-logout-button {
    font-size: 16px;
    color: #DE2654;
}

// mat-sidenav {
//   width: 228px;
// }
// mat-sidenav-container {
//   height: 100%;
// }
.mat-sidenav-container.mat-drawer-container {
  background: #F2F2FF;
  overflow: auto !important;
  min-height: calc(100vh - 64px);
}


.mat-drawer-container.mat-sidenav-container.mat-drawer-container-has-open {
  overflow: hidden;
}

// .mat-drawer-inner-container{
//   overflow: hidden !important;
// }
.mat-drawer {
  background: #F2F2FF;
}
.mat-sidenav {
  min-width: 120px;
}



// mat-nav-list.mat-nav-list.mat-list-base {
//   padding: 8px 8px 0 8px;
// }

.mat-nav-list .mat-list-item.active {
  background: #D6D6FD;
  color: #000080 !important;
  font-weight: 700;
}

.mat-sidenav .mat-list-item {
  color: #000080 !important;
}

.mat-list-base .mat-list-item {
  font-size: 14px;
}

.mat-list-item {
  color: rgba(9, 9, 72, 0.6) !important;
  font-size: 0.8rem;
  height: 40px !important;
  margin-bottom: 4px;
}

:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}
.logo {
  text-align: center;
  padding: 2.6rem 1rem;
  img {
    width: 200px;
  }
}
.mat-divider {
  border-top-width: 2px;
  border-color: white;
}

// .mat-list-base{
// // padding-top: 40px !important;
// }
.mat-list-item {
  color: #09094899 !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
  &:hover {
    color: #000080 !important;
  }
  ::ng-deep {
    .mat-list-item-content {
      border-radius: 5px;
      margin: 0 8px;
      &:hover {
        background: #2c3344 !important;
      }
    }
  }
}
.list-item-active {
  // background: blue !important;
  // border-radius: 0 2rem 2rem 0;
  // &:hover {
  //   background: blue;
  // }

  background: #D6D6FD !important;
  color: #000080 !important;
  ::ng-deep {
    .mat-list-item-content {
      background: #2c3344 !important;
      &:hover {
        background: #2c3344 !important;
      }
    }
  }
}
.mat-subheader {
  color: #090948;
  font-size: 20px !important;
  font-weight: 700 !important;
  letter-spacing: 1px;
}

span.mat-subheader-space {
  margin-left: 1em;
}


mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}
.mat-toolbar {
  background-color: #090948;
  //background-image: url('./assets/Brand Flourish.png');
  background-position: 50% 33%;
  background-size: auto;
  background-repeat: no-repeat;
  color: white;
}

.mat-toolbar:before {
  content: "";
  position: absolute;
  background: #0f172a2b;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

ul {
  li {
    list-style: none;
  }
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
.user {
  font-size: 14px;
}
mat-toolbar {
  background: #f7f7f7;
}
.user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  &-icon {
    height: 21px !important;
    font-size: 18px;
    width: 21px !important;
  }
}

::ng-deep {
  .mat-menu-content {
    width: 160px;
  }
}


.ngx-toastr {
  background-image: none;
  background-color: #c8c8c8;
  box-shadow: 0 0 5px #b4b4b4 !important;
}

.toast-success::before {
  content: "\e86c";
  position: absolute;
  top: 50%;
  left: 0.5em;
  transform: translateY(-50%);
  background: #E4E4E4;
  width: 66px;
  height: 66px;
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 33px;
  color: #1D865C;
}

.toast-error::before {
  content: "\e5c9";
  position: absolute;
  top: 50%;
  left: 0.5em;
  transform: translateY(-50%);
  background: #E4E4E4;
  width: 66px;
  height: 66px;
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 33px;
  color: #861d1d;
}

table th, table.bp-inline-table th.mat-header-cell {
  font-size: 16px;
  color: #090948;
  font-weight: 700;
}

table.bp-inline-table tr td.mat-cell {
  border-bottom: none;
}

table.action-table-info {
  width: auto;
}

table.action-table-info tr td {
  color: #090948;
  border-bottom: none;
  font-size: 16px;
}

table.action-table-info .spacer {
  position: relative;
  top: 2px;
}

table.action-table-info span.material-symbols-outlined {
  margin-right: 0.3em;
}

.action-buttons-wrap {
  direction: rtl;
}

.action-buttons-wrap-center button{

  min-width: 202px;
  height: 56px;
  border-radius: 100px;
  font-size: 18px;

}

.action-buttons-wrap button {
  margin-left: 6px;
  min-width: 202px;
  height: 56px;
  // min-width: 170px;
  // height: 40px;
  border-radius: 100px;
  font-size: 18px;
  margin-bottom: 1.2em;
}



.action-list-wrap {
  color: #090948;
  font-size: 16px;
  font-weight: 700;
}

.action-notification-wrapper {
  position: absolute;
  z-index: 1;
  max-width: 392px;
  width: 100%;
  top: 29px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.action-notification-wrapper .alert {
  min-height: 36px;
  padding: 6px;
  font-size: 14px;
}

.alert.alert-danger {
  background-color: #F5BECC;
  color: #4D0D1D;
}
.alert.alert-warning {
  background-color: #FFEDCD;
  color: #4D3B1A;
}

.alert.alert-success {
  background-color: #BADBCE;
  color: #114D35;
}

.alert.alert-info {
  background-color: #BEE6EE;
  color: #00404D;
}

.alert .action-alert-icon {
  margin-right: 0.5em;
}

.action-info-wrap{
  min-height: 217px;
}

span.action-info-desc-icon {
  margin-right: 0.3em;
  font-size: 20px;
}

#pickpro .toast-container .ngx-toastr {
  padding-left: 5.9em !important;
  background-image: none;
  background-color: #f9f9f9;
}


#pickpro .toast-container .ngx-toastr.toast-success .toast-title {
  color: #1D865C;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

#pickpro .toast-container .ngx-toastr.toast-error .toast-title {
  color: #861d1d;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

#pickpro .toast-container .ngx-toastr .toast-message {
  color: #090948;
  font-size: 16px;
  line-height: 1.1;
}

.icon-white{
  color: #fff;
  fill: #fff;
}

.icon-circle-edit {
  background: #000080;
  color: #fff;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  opacity: 0.7;
  transition: 0.5s ease all;
  font-size: 18px;
}

.icon-circle-edit:hover {
  opacity: 1;
}

.icon-circle-cancel {
  background: #DE2654;
  color: #fff;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  opacity: 0.7;
  transition: 0.5s ease all;
  font-size: 18px;
}

.icon-circle-cancel:hover {
  opacity: 1;
}

.action-list-wrap .material-symbols-outlined {
  font-size: 20px;
  margin-right: 0.5em;
}

.dialog-close-button {
  float: right;
  top: -3.7em;
  right: 0;
  background: #F5F5FA;
  width: 48px !important;
  height: 48px !important;
  border-radius: 14px !important;
  padding: 3px !important;
}




.dialog-close-button .close-icon{
  color: #626273;
}

.mat-dialog-content {
    clear: both;
}

.form-button-submit {
  min-width: 134px !important;
  min-height: 48px;
}

.mat-drawer-side {
  border: none;
  // padding-right: 15px;
  // padding-left: 15px;
}
.mat-nav-list .mat-list-item {
  border-radius: 12px;
}

.mat-tab-header{

  border: none;

}

.mat-tab-label {
  border-radius: 14px;
  overflow: hidden;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{

  background-color: #7B42AC;
  border-radius: 100px;
  height: 3px !important;

}
.mat-ink-bar{
  bottom: 2px !important;
}

.mat-tab-label:hover {
  background: rgba(0,0,0,.04);
  border-radius: 12px;
}

.mat-tab-label {
  margin-right: 6px;
}
.mat-card-title, .card-header-title {
  font-size: 22px !important;
  line-height: 1 !important;
  font-weight: 700 !important;
}


.mat-form-field.action-dropdown{
  width: 100%;
}

span.mat-select-min-line {
  font-size: 16px;
  color: #090948;
  font-weight: 500;
}

// .mat-form-field.action-dropdown .mat-form-field-flex {
//   border-radius: 8px;
//   background: #fff;
//   border: 1px solid #D7D7F9;
//   padding: 0.18em .75em 0 .75em;
// }

// .action-dropdown.mat-form-field-appearance-outline .mat-form-field-label {
//   top: 1.5em;
// }

.mat-form-field-label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500 !important;
}

.mat-form-field-appearance-outline.action-dropdown.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.79375em) scale(0.75);
}

.action-field.wrap-p-0 .mat-form-field-wrapper,
.mat-form-field.action-dropdown .mat-form-field-wrapper{

  padding-bottom: 0;
}



// .mat-form-field.action-dropdown .mat-form-field-label-wrapper {
//   top: -0.74375em;
// }
// .mat-form-field.action-dropdown .mat-form-field-label {
//   font-size: 16px;
//   font-weight: 500;
// }

.mat-form-field.action-dropdown .mat-select-arrow-wrapper {
  transform: translateY(-13%);
}

.mat-select-arrow-wrapper {
  background-image: url("./assets/images/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center;
 }

 .mat-select-arrow {
   opacity: 0;
 }

.mat-form-field-underline {
  visibility: hidden;
}
.mat-form-field.mat-focused.action-dropdown .mat-form-field-flex {
  border-color: #8b65cf;
}

.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field.action-dropdown .mat-form-field-label:not(.mat-empty) mat-label {
  font-size: 14px;
   font-weight:700 !important;
   color: #090948;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 8px 0 0 8px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 8px 8px 0 !important;
}



// .mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-fill.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
//   transform: translateY(0em) scale(0.95);
// }

.mat-raised-button.mat-button-icon{
  border-radius: 14px !important;
}

.cdk-overlay-pane {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}



.dashboard-section{
  padding: 20px 30px;
}

.action-des-icon-wrap{
  padding-left: 20px;
}

.mat-icon-wrap {
  background: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon-wrap .mat-icon {
  font-size: 20px;
  width: auto;
  height: auto;
  font-weight: 700;
}

.g-tab{
  background-color: #f3f4f4;
  padding: 1px;
  border-radius: 36px;
  margin-top: 22px;
}

.g-tab .mat-card {
  border-radius: 14px;
}
.mat-card {
  border-radius: 14px !important;
}

.g-details-wrap {
  margin-top: 2.2em;
  margin-bottom: 2.2em;
}

.g-detail .g-field-label {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #8B8BA3;
  background: #F2F2FF;
  padding: 0.1em 0.6em;
  border-radius: 100px;
  border: 1px solid #F2F2FF;
  z-index: 1;
}

.g-detail {
  background: #F2F2FF;
  margin-bottom: 1.7em;
  padding: 0.88em 0.9em 0.88em;
  position: relative;
  border-radius: 10px;
  border: 1px solid #d7d7f999;
}

.g-field-content {
  padding: 0.1em 0.4em;
  font-size: 16px;
  color: #8B8BA3;
  font-weight: 400;
  letter-spacing: 0.5px;
}


.g-mini-search-box  .mat-form-field-appearance-fill .mat-form-field-flex {
  background: none;
  border: 1px solid #D7D7F9;
  padding: 0;
  border-radius: 14px;
}

.g-mini-search-box  .mat-form-field-wrapper.ng-tns-c111-4 {
  padding-bottom: 0;
}

.g-mini-search-box span.icon-search {
  position: absolute;
  left: 9px;
  font-size: 22px;
  color:#11116999;
  top: 0;
}

.g-mini-search-box  input.mat-input-element {
  padding-left: 2.5em;
  color: #111169;
}
.g-mini-search-box  input.mat-input-element::placeholder {
  color: #11116999;
  font-weight: 500;
}


.search-box .mat-raised-button.mat-button-icon{
  margin-left: 1em;
  min-width: 1px;
  max-width: 48px;
  width: 100%;
  min-height: 1px;
  height: 48px;
  padding: 2px;
}

.search-box .mat-raised-button.mat-button-icon span.material-symbols-outlined {
  position: relative;
  top: -2px;
}

button.button-remove-all {
  color: #DE2654 !important;
  padding: 6px 15px;
  border-radius: 14px;
  border: 1px solid #D7D7F9 !important;
}

button.button-add-all {
  color: #000080 !important;
  padding: 6px 15px;
  border-radius: 14px;
  border: 1px solid #D7D7F9 !important;
}

button.button-remove-all .mat-icon {
  font-size: 20px;
  color: #DE2654;
}

.mat-card.g-card {
  // padding: 25px;
  padding: 10px;
}

span.action-dropdown-icon {
  font-size: 27px;
  font-weight: 700;
  color: #090948;
}

.g-card-list .mat-list-item-content {
  justify-content: space-between;
}
table.g-card-table {
  border-radius: 14px;
}

// table.g-card-table th.mat-header-cell:after {
//   content: "";
//   border-bottom: 1px solid #D7D7F9;
//   position: absolute;
//   bottom: 0;
//   width: 500%;
//   left: -250%;
//   z-index: 2;
// }

table.g-card-table th.mat-header-cell {
  border-bottom: 1px solid #D7D7F9;
  color: #090948;
  font-weight: 700;
  font-size: 14px;
}
table.g-card-table tr.mat-row td {border: none;padding: 0 !important;}

table.g-card-table th.mat-header-cell {
    padding: 0 !important;
}

.card-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #F9F9FF;
      border-bottom-color: #D7D7F9;
}

.card {
  border: 1px solid #D7D7F9;
}

.mat-sidenav-content, .mat-drawer-content{
  overflow: initial !important;
}

table {
  width: 100%;
}

table.dataTable{
  width: 100% !important;
}

.dataTables_wrapper{
  padding: 15px;
}
td.no-data-available {
  padding: 20px !important;
  text-align: center;
}
td.dataTables_empty{
  visibility: hidden;
}
.dataTables_filter { display: none; }

.dataTables_wrapper .dataTables_paginate .paginate_button a.page-link {
  border-radius: 14px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5em 0.4em !important;
}

.main-section-option {
    padding: 1.25em;
    border-radius: 14px;
    min-height: 150px;
    background: #fff;
    transition: 0.7s ease all;
    box-shadow: none;
    cursor: pointer;
}

.main-section-option:hover {
  box-shadow: 0 5px 12px #ce9bff;
}

.main-section-option .main-section-icon {
  width: 40px;
  height: 40px;
  background: #F0E1FE;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7B42AC;
  border-radius: 14px;
  margin-bottom: 1.25em;
}

.main-section-option .main-section-icon span.material-symbols-outlined {
  color: #7B42AC;
  font-size: 24px;
}
h4.main-section-title {
  color: #000080;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
}


//-------------- FONT-SIZES-CLASSES ----START-------------------

.f-16{
  font-size: 16px;
}

//-------------- FONT-SIZES-CLASSES ----END-------------------


//-------------- BORDER-RADIUS-CLASSES ----START-------------------

.br-12{
  border-radius:12px;
}
.br-14{
  border-radius:14px !important;
}

//-------------- BORDER-RADIUS-CLASSES ----END-------------------


//-------------- BACKGROUND-COLOR-CLASSES ----START-------------------
.bg-light-blue{
  background: rgba(242, 242, 255, 0.5);
}
.bg-light-purple{
  background: rgba(123, 66, 172, 0.15);
}

//-------------- BACKGROUND-COLOR-CLASSES ----START-------------------

//-------------- LABEL-CLASSES ----START-------------------
.label-purple{
  background: rgba(123, 66, 172, 0.15);
  color: #7B42AC;
  cursor: default;
}
//-------------- LABEL-CLASSES ----END-------------------


//-------------- GAP-CLASSES ----START-------------------
.gap-12{
  gap: 12px;
}
.gap-20{
  gap: 20px;
}
//-------------- GAP-CLASSES ----END-------------------

//-------------- BUTTON-CLASSES ----START-------------------
.primary-btn{
  color: #090948 !important;
}
button.button-delete {
  color: #DE2654 !important;
  padding: 6px 15px;
  border-radius: 14px;
  border: 1px solid #DE2654 !important;
}
button.button-delete-flat {
  color: #DE2654 !important;
  padding: 6px 15px;
  border-radius: 14px;
  background-color: rgba(222, 38, 84, 0.1) !important;
}
button.button-primary-o{
  color: #000080 !important;
  padding: 6px 15px;
  border-radius: 14px;
  border: 1px solid #000080 !important;
}
button.button-primary{
  color: #ffffff !important;
  background-color: $primary-900 !important;
  padding: 6px 15px;
  min-width: 150px !important;
  border-radius: 14px !important;
  border: 1px solid $primary-900!important;
}
button.add-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px !important;
  max-width: 48px !important;
  min-width: 48px !important;
  border-radius: 14px !important;
}
button.sm-icon-button {
  height: 32px!important;
  width: 32px!important;
  min-width: 32px!important;
  display: flex;
  padding: 6px!important;
  align-items: center;
  justify-content: center;
  border-radius: 24px !important;
  font-size:12px;
}
button.custom-btn{
  min-width: 150px;
  padding: 6px 15px;
  border-radius: 14px;
}
button.default-btn{
  border-radius: 14px;
}
//-------------- BUTTON-CLASSES ----END-------------------

//-------------- FORM INPUT-CLASSES ----START-------------------

.mat-select-value{
  padding-left: 8px;
}
.custom-input-number{
  padding-left: 8px !important;
}

//-------------- FORM INPUT-CLASSES ----END-------------------

//-------------- RADIO BUTTOM-CLASSES ----START-------------------
.custom-radio-btn .mat-radio-label-content{
  width: 100%!important;
}

.custom-checkbox .mat-checkbox-background, .mat-checkbox-frame{
  border-radius: 4px !important;

}

.checkbox-background{
  background: rgba(255, 196, 88, 0.2);
}
//-------------- RADIO BUTTOM-CLASSES ----END-------------------
.custom{
.counter
{
    background-color: #eaecf0;
    padding: 12px;
    border-radius: 20px;
    margin-top: 20px;
}
.counter-count
{
  font-size: 18px;
  background-color: #000080cc;
  border-radius: 50%;
  position: relative;
  color: #ffffff;
  text-align: center;
  line-height: 64px;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
}
}


//-------------- TEXT-CLASSES ----START-------------------
.bold{
  font-weight: bold;
}
//-------------- TEXT-CLASSES ----END-------------------

.circle-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 9999px;
}
.circle-66{
  width: 66px;
  height: 66px;
}
.circle-danger{
  background: #DE26541A;
}

.mat-dialog-container{
  border-radius: 14px !important;
}

h3.action-header-title {
  font-size: 18px;
  margin-bottom: 1.3em;
}

.action-dialog-info {
  padding: 16px;
}

button.bp-action-button {
  border-radius: 100px;
  min-width: 202px;
}


@media (min-width: 320px) and (max-width:480px){
.flex-xs-column {
    flex-direction: column !important;
}

}

// @media (max-width: 480px) {
//   .mat-toolbar-row {
//     padding: 1px !important;
// }
// }

// .bp-signin-form .icon-signin-field {
//   position: relative;
//   top: -0.1em;
//   margin-right: 0.6em;
// }

.bp-signin-form .mat-form-field-appearance-outline .mat-form-field-infix{
  padding-top: 0.8em;
}

.bp-signin-form .mat-select-value {
  padding-left: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(251, 245, 245, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

span.menu-title-dot {
  width: 3px;
  display: block;
  height: 3px;
  background: #fff;
  margin: 1px 10px;
  position: relative;
  bottom: -3px;
}

.header-profile-menu .mat-menu-item .mat-icon {
  margin-right: 0;
}

.app-header {
  position: relative;
  top: 0;
  height: 64px;
  width: 100%;
  left: 0;
  z-index: 999;
  background: #0a0b43;
}

.app-header .menu-title-wrap {
  margin-top: 0.2em;
}

@media (max-width: 360px) {

  .app-header {
    width: 100%;
    overflow-x: hidden;
}

span.menu-title-dot {
    display: none;
}

span.menu-title-name {
    display: none;
}
  
  }

// for fixes

tr.mat-header-row{
  height: 40px !important;
}



//buttons - style

.btn-primary-o{
  background-color: #fff !important;
  color: var(--clr-primary-500) !important;
}