<div class="bp-pick-option">
  <div class="container-fluid">
    <div class="row g-4">
      <h2 mat-subheader class="bp-option-heading mt-3 mb-0">
        <div class="mat-icon-wrap">
          <span class="material-symbols-outlined mat-icon"> archive </span>
        </div>
        Device Apps
      </h2>

      <mat-card class="mat-elevation-z g-card">
        <mat-card-content>
          <div class="d-flex justify-content-between align-items-center">
            affan here
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
